<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Citas</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Resultado de la Cita Médica</h1>
    <p>Nombre del Paciente: <span th:text="${paciente}"></span></p>
    <p>Nombre del Doctor: <span th:text="${doctor}"></span></p>
    <p>Fecha: <span th:text="${fecha}"></span></p>
    <p>Hora: <span th:text="${hora}"></span></p>
</body>
</html>